$img2: "http://up.enterdesk.com/edpic_source/21/00/00/210000f8e772d7fc0758e67ae4b48807.jpg";

$img1: "https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=";

$count: 360;

div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.a {
    background: url($img1);
    background-size: 100% auto;
}

/*
    -webkit-mask-image  
        一张图片上应用mask-image:linear-gradient(0,rgba(0,0,0,1)40%,tranparent 60%)
        透明部分就会显示另外一张图片
        再利用动画,让mask-image:linear-gradient的角度旋转起来
*/
.b {
    background: url($img2);
    background-size: 100% auto;
    -webkit-mask-image: linear-gradient(0, rgba(0, 0, 0, 1) 40%, transparent 60%);
    mask-image-position: 50% 50%;
    animation: move 10s infinite;
}

@keyframes move {
    @for $i from 0 through $count {
        #{$i / $count * 100}% {
            -webkit-mask-image: linear-gradient($i / $count * 360deg, rgba(0, 0, 0, 1) 40%, transparent 60%);
        }
    }
}
