body {
  background: #000000;
  overflow: hidden; }

:root {
  --firWidth: 115px;
  --fireHeight: 200px;
  --dotSize: 24px;
  --fireColor: #b5932f; }

.g-container {
  position: relative;
  width: 384px;
  height: 300px;
  margin: 0 auto;
  background: #000000; }

.g-fire {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100px;
  left: 50%;
  border-radius: 45%;
  box-sizing: border-box;
  border: 200px solid #000000;
  border-bottom: 200px solid transparent;
  transform: translate(-50%, 0) scaleX(0.4);
  background-color: var(--fireColor);
  filter: blur(20px) contrast(30); }

.g-dot {
  position: absolute;
  bottom: -210px;
  left: 0;
  width: var(--dotSize);
  height: var(--dotSize);
  background: #000;
  border-radius: 50%; }

.g-dot:nth-child(1) {
  bottom: -286px;
  left: -70px;
  animation: move 1.9s infinite 1.4s linear; }

.g-dot:nth-child(2) {
  bottom: -258px;
  left: 1px;
  animation: move 0.9s infinite 0.2s linear; }

.g-dot:nth-child(3) {
  bottom: -326px;
  left: -27px;
  animation: move 1s infinite 4.2s linear; }

.g-dot:nth-child(4) {
  bottom: -280px;
  left: -136px;
  animation: move 2.1s infinite 0.9s linear; }

.g-dot:nth-child(5) {
  bottom: -283px;
  left: 140px;
  animation: move 2.6s infinite 4.7s linear; }

.g-dot:nth-child(6) {
  bottom: -332px;
  left: -60px;
  animation: move 2.1s infinite 5.7s linear; }

.g-dot:nth-child(7) {
  bottom: -355px;
  left: -71px;
  animation: move 0.8s infinite 2.2s linear; }

.g-dot:nth-child(8) {
  bottom: -278px;
  left: -130px;
  animation: move 2.1s infinite 0.6s linear; }

.g-dot:nth-child(9) {
  bottom: -322px;
  left: 104px;
  animation: move 0.8s infinite 1.8s linear; }

.g-dot:nth-child(10) {
  bottom: -335px;
  left: 34px;
  animation: move 2.3s infinite 0.4s linear; }

.g-dot:nth-child(11) {
  bottom: -314px;
  left: 135px;
  animation: move 1.2s infinite 2.9s linear; }

.g-dot:nth-child(12) {
  bottom: -340px;
  left: -121px;
  animation: move 1.5s infinite 3.5s linear; }

.g-dot:nth-child(13) {
  bottom: -254px;
  left: -73px;
  animation: move 1.1s infinite 4.4s linear; }

.g-dot:nth-child(14) {
  bottom: -291px;
  left: -32px;
  animation: move 3.1s infinite 3.7s linear; }

.g-dot:nth-child(15) {
  bottom: -334px;
  left: -109px;
  animation: move 2.7s infinite 1.5s linear; }

.g-dot:nth-child(16) {
  bottom: -297px;
  left: 83px;
  animation: move 3s infinite 3.1s linear; }

.g-dot:nth-child(17) {
  bottom: -241px;
  left: 86px;
  animation: move 1.5s infinite 2.4s linear; }

.g-dot:nth-child(18) {
  bottom: -264px;
  left: -134px;
  animation: move 2.3s infinite 3.8s linear; }

.g-dot:nth-child(19) {
  bottom: -324px;
  left: -23px;
  animation: move 2.1s infinite 5.8s linear; }

.g-dot:nth-child(20) {
  bottom: -307px;
  left: 61px;
  animation: move 1.8s infinite 0.1s linear; }

.g-dot:nth-child(21) {
  bottom: -242px;
  left: -83px;
  animation: move 0.9s infinite 5.3s linear; }

.g-dot:nth-child(22) {
  bottom: -357px;
  left: 33px;
  animation: move 1.2s infinite 0.6s linear; }

.g-dot:nth-child(23) {
  bottom: -281px;
  left: -55px;
  animation: move 1.1s infinite 0.6s linear; }

.g-dot:nth-child(24) {
  bottom: -297px;
  left: -141px;
  animation: move 1.7s infinite 1.3s linear; }

.g-dot:nth-child(25) {
  bottom: -336px;
  left: -146px;
  animation: move 3.1s infinite 1.6s linear; }

.g-dot:nth-child(26) {
  bottom: -261px;
  left: -96px;
  animation: move 1s infinite 3s linear; }

.g-dot:nth-child(27) {
  bottom: -329px;
  left: 46px;
  animation: move 0.8s infinite 2.6s linear; }

.g-dot:nth-child(28) {
  bottom: -338px;
  left: 28px;
  animation: move 1.6s infinite 5.2s linear; }

.g-dot:nth-child(29) {
  bottom: -325px;
  left: -143px;
  animation: move 2.4s infinite 1.5s linear; }

.g-dot:nth-child(30) {
  bottom: -309px;
  left: -48px;
  animation: move 1.8s infinite 3.8s linear; }

.g-dot:nth-child(31) {
  bottom: -250px;
  left: -119px;
  animation: move 1s infinite 4.4s linear; }

.g-dot:nth-child(32) {
  bottom: -264px;
  left: 129px;
  animation: move 2.5s infinite 3.8s linear; }

.g-dot:nth-child(33) {
  bottom: -287px;
  left: -19px;
  animation: move 3.3s infinite 5.8s linear; }

.g-dot:nth-child(34) {
  bottom: -288px;
  left: -90px;
  animation: move 2.3s infinite 3.4s linear; }

.g-dot:nth-child(35) {
  bottom: -313px;
  left: 32px;
  animation: move 3.2s infinite 0.1s linear; }

.g-dot:nth-child(36) {
  bottom: -348px;
  left: 96px;
  animation: move 2.1s infinite 5.5s linear; }

.g-dot:nth-child(37) {
  bottom: -265px;
  left: -139px;
  animation: move 2.5s infinite 3.2s linear; }

.g-dot:nth-child(38) {
  bottom: -267px;
  left: -8px;
  animation: move 2.1s infinite 3.3s linear; }

.g-dot:nth-child(39) {
  bottom: -350px;
  left: 108px;
  animation: move 1.3s infinite 0.5s linear; }

.g-dot:nth-child(40) {
  bottom: -291px;
  left: -32px;
  animation: move 2.1s infinite 4.7s linear; }

@keyframes move {
  100% {
    transform: translate3d(0, -350px, 0); } }

/*# sourceMappingURL=output.css.map */
