@charset "utf-8";

$count: 200;

html,
body {
    height: 100%;
    background: #000000;
    overflow: hidden;
}

.g-candle {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    height: 400px;
}

.g-body {
    position: relative;
    width: 100px;
    height: 300px;
    margin: 280px auto;
    background: linear-gradient(230deg, #5f5e59, #573903, black 70%);
    z-index: 1;
    &::before {
        position: absolute;
        content: "";
        width: 100px;
        height: 40px;
        border-radius: 50%;
        box-sizing: border-box;
        top: -20px;
        background: radial-gradient(#a46800, #5c3104 45%, #905602 100%);
    }
    &::after {
        position: absolute;
        content: "";
        width: 4px;
        height: 48px;
        background: #ffffff;
        left: 50%;
        top: -22px;
        transform: translate(-50%, -50%);
        border-radius: 50% 50% 0 0;
        background: linear-gradient(100deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8), #fff);
    }
}
.g-fire-box {
    position: absolute;
    top: 97px;
    left: 50%;
    width: 80px;
    height: 200px;
    transform: translate(-50%, -50%);
    filter: blur(2px) contrast(20);
}
.g-fire {
    position: absolute;
    top: 30px;
    left: 50%;
    border-radius: 45%;
    box-sizing: border-box;
    border: 120px solid #000000;
    border-bottom: 120px solid transparent;
    transform: translate(-50%, 0) scaleX(0.45);
    background-color: #761b00;
}
.g-ball {
    position: absolute;
    top: 60px;
    transform: translate(0, 0);
    background: #fa8763;
    border-radius: 50%;
    z-index: -1;
    mix-blend-mode: screen;
}
@for $i from 1 to $count {
    .g-ball:nth-child(#{$i}) {
        $width: #{random(50)}px;
        width: $width;
        height: $width;
        left: calc(#{(random(70))}px - 55px);
    }
    .g-ball:nth-child(#{$i}) {
        animation: movetop 1s linear -#{random(3000) / 1000}s infinite;
    }
}

@keyframes movetop {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(0, 0);
    }
    87.7% {
        transform: translate(0, -170px);
        opacity: 0;
    }
    100% {
        transform: translate(0, -170px);
        opacity: 0;
    }
}
