@charset "utf-8";
body {
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    background: #00bcd4;
    color: #ffffff;
    margin: 0;
}

.g-container {
    width: 1000px;
    margin: 0 auto;
    line-height: 2; /* 表示单行文本的行高为它本身的两倍 */
    color: #fff;
    & > div {
        margin-bottom: 50px;
    }
}

/* padding+margin+overflow，实现多列等高效果,兼容性好 */
.g-padmar {
    position: relative;
    overflow: hidden;
    .g-left {
        float: left;
        width: 200px;
        background: #4caf50;
        padding-bottom: 9999px;
        margin-bottom: -9999px;
    }
    .g-right {
        float: left;
        width: 800px;
        background: #99afe0;
    }
}

/* border实现多列等高，左边框宽度为200px，左列浮动，伪元素清除浮动 */
.g-border {
    position: relative;
    width: 800px;
    border-left: 200px solid #4caf50;
    background: #99afe0;
    &::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
    }
    .g-right {
        width: 800px;
    }
    .g-left {
        float: left;
        width: 200px;
        margin-left: -200px;
    }
}

/* 父元素线性渐变背景色实现多列等高(同理各种颜色的障眼法) */
.g-lineargradient {
    background: linear-gradient(90deg, #4caf50 0, #4caf50 20%, #99afe0 20%, #99afe0);
    overflow: hidden;

    .g-left {
        float: left;
        width: 200px;
    }

    .g-right {
        float: left;
        width: 800px;
    }
}

/* Flex 实现多列等高*/
.g-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;

    .g-left {
        flex: 200px 0 0;
        background: #4caf50;
    }

    .g-right {
        flex: auto 1 0;
        background: #99afe0;
    }
}

/*Grid 实现多列等高*/
.g-grid {
    display: grid;
    grid-template-columns: 200px auto;

    .g-left {
        background: #4caf50;
    }
    .g-right {
        background: #99afe0;
    }
}

/* table-cell 实现多列等高 */
.g-table {
    overflow: hidden;
    display: table;

    .g-left {
        width: 200px;
        display: table-cell;
        background: #4caf50;
    }

    .g-right {
        width: 800px;
        display: table-cell;
        background: #99afe0;
    }
}
